<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <head>
        <title>Блог Влада</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Я ЛЮБЛЮ НАСТЮ КАКЛЮГИНУ</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Моя любовь</a></h2>
            <p>Есть только одно, что я люблю больше всего на свете и это Каклюгина Анастасия Сергеевна, самая замечательная на всем
            белом свете</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="https://www.youtube.com/watch?v=g3jCAyPai2Y">Постигаю, гиперссылки</a></h2>
            <p>Даме мае, даме дамае, антада суки дэ, суки сукидэ</p>
        </div>
    </body>
</html>